data/r4.2/DataByWeek/
data/r4.2/ExtractedData/
data/r4.2/NumDataByWeek/
data/r4.2/tmp/
data/r4.2/answers/
data/r4.2/LDAP
data/r4.2/device.csv
data/r4.2/email.csv
data/r4.2/file.csv
data/r4.2/http.csv
data/r4.2/logon.csv
data/r4.2/psychometric.csv
data/r4.2/r4.2.zip
DataByWeek_parquet/
DataByWeek_parquet_r05/
ExtractedData/
MultiModalData/
NumDataByWeek/
SessionLevelFeatures/
DayLevelFeatures/
WeekLevelFeatures/
experiments/wandb/  
experiments/results/